<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<!-- Annotation injection is performed before XML injection -->
	<!-- 要使用注解，必须加上这个标签 -->
	<context:annotation-config />

	<!-- 用Ant EL表达式的方式将Bean里面的value替换掉 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:controller.properties</value>
			</list>
		</property>
		<!-- 这里的优先级低于外部的 -->
		<property name="properties">
			<value>
				theme.prefix = theme-
			</value>
		</property>
	</bean>

	<!-- register Customer Property Editor -->
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
			</map>
		</property>

		<property name="propertyEditorRegistrars">
			<list>
			</list>
		</property>
	</bean>

	<!-- register conversion support -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>

			</set>
		</property>

		<!-- register Formatter -->
		<property name="formatters">
			<set>
			</set>
		</property>

		<!-- register Formatter Registrars -->
		<property name="formatterRegistrars">
			<set>
			</set>
		</property>
	</bean>

	<bean id="myLocale" class="java.util.Locale" factory-method="createConstant">
		<constructor-arg value="zh" index="0" />
		<constructor-arg value="CN" index="1" />
	</bean>
	<bean id="myDateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
		<constructor-arg ref="myLocale"></constructor-arg>
		<property name="lenient" value="false"></property>
	</bean>
	<bean id="myDateFormatTypeEditor"
		class="org.springframework.beans.propertyeditors.CustomDateEditor">
		<constructor-arg ref="myDateFormat" />
		<constructor-arg value="true" />
	</bean>

	<import resource="spring-mvc-config.xml"/>
</beans>